
@import "./helper/bootstrap/scss/functions";

@import"./helper/bootstrap/scss/variables";


@import"./helper/bootstrap/scss/mixins";
$utilities:(
    "font-size":(
        // rfs:false,
        property:font-size,
        class:fs,
        responsive:true,
        values:(
            1:3rem,
            2:1.75rem,
            3:1.5rem,
            4:1.125rem,
            5:1rem
        ),
    )
);


@import"./helper/bootstrap/scss/bootstrap";


@import"./helper/minix";
@import"./helper/_util";
@import"./layout/_base";
@import"./pages/_index";




